<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.PDF" version="4.3.1" targetFramework="net40" />
  <package id="FreeSpire.PDFViewer" version="3.4" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="PdfSharp" version="1.32.3057.0" targetFramework="net40" />
</packages>